from __future__ import annotations

from typing import TYPE_CHECKING

if TYPE_CHECKING:
    from litestar import Litestar


def create_app() -> Litestar:
    """Create ASGI application."""

    from litestar import Litestar

    from app.config.settings import get_settings
    {%- if use_cors_csrf  %}
    from app.config.cors import cors, csrf
    {%- endif %}
    {%- if use_logging and logging == "structlog" %}
    from app.config.log import structlog_plugin
    {%- endif %}
    {%- if use_openapi %}
    from app.config.openapi import openapi_config
    {%- endif %}
    {%- if use_web_server and web_server == 'granian' %}
    from app.config.web_server import granian_plugin
    {%- endif %}
    from app.config.routes import route_handlers

    settings = get_settings()

    return Litestar(
        {%- if use_cors_csrf %}
        cors_config=cors,
        csrf_config=csrf,
        {%- endif %}
        debug=settings.app.DEBUG,
        {%- if use_openapi %}
        openapi_config=openapi_config,
        {%- endif %}
        route_handlers=route_handlers,
        plugins=[
            {%- if use_logging and logging == "structlog" %}
            structlog_plugin,
            {%- endif %}
            {%- if use_web_server and web_server == 'granian' %}
            granian_plugin,
            {%- endif %}

        ],
    )


app = create_app()
